<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Finance Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    {% block head_extra %}{% endblock %}
  </head>

  <body>
    <div class="sidebar">
      <h1>💰 Finance App</h1>
      <a href="/api/Portfolio_Command_Center/view">Portfolio Command Center</a>

      {% block sidebar_extra %}{% endblock %}
    </div>

    <div id="graphs-area" class="main"></div>

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/Portfolio_Command_Center.js') }}"></script>
    {% endblock %}
  </body>
</html>
